header {
  height: 75px;
  width: 100%;
  outline: solid thin;

}

span {
  margin: 0 auto;
}


aside {
  float: left;
  height: 150px;
  outline: solid black thin;
  width: 100%;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}



@media (min-width: 800px) {
  header {
  height: 100px;
  }
  aside {
    height: 600px;
    width: 200px;
  }

}
